# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log
*.log.*

# Build
dist/
build/
.vite/

# System files
.DS_Store
Thumbs.db

# Env
.env
.env.*.local
.env.keys
.env.local

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Mac files
.AppleDouble
.LSOverride

# Supabase
supabase/migrations/
.supabase/
.branches
.temp

# Coverage
coverage/

# Supabase local settings
.supabase/access-token
.supabase/config.json

# Supabase secrets (если вдруг есть)
.supabase/functions/**/secrets.json

# Local build artifacts
supabase/.output